


/*=============================
*           Company Lists
==============================*/

.company_bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    min-height: 200px;
    background-position: center;
    transition: 1s;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, 0.7);
}

.carousel-item {
    img {
        width: 100%;
    }
}



.company {
    margin: 0;
}

.company_lists {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .company_list--item{
        display: block;
        width: 100%;
        height: calc(100% / 3);
        position: relative;
    }

    .card_mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.7);
        z-index: 2;
    }

    .company_list--info {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 3;
        transform: translate(0, -50%);
        color: white;

        h2 {
            font-weight: 700;
        }

        h5 {
            font-weight: 100;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}


@media screen and (min-width: 1200px) {
    h2 {
        font-weight: 700;
    }
    .title_bg {
        height: 100vh;
    }

    .title_bg-split {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .line {
            font-size: 300px !important;
            margin: 0 20PX;
        }
    }
    .wrapper {
        padding: 150px;
    }   

    .company__inner {
        position: relative;
        height: 100vh;
    }
    .company_bg  {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;

        
    }
    .company_img_active {
        opacity: 1;
        transition: 0.5s;
    }


    .company_lists {
        font-size: 0;
        letter-spacing: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

        // display: flex;
        .company_list--item {
            display: inline-block;
            width: calc(100% / 3);
            height: 100%;
            position: relative;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-position: center;
            background-size: cover;
            
            &:first-child {
                border-right: 0.5px solid rgba(255,255,255,0.3);
            }
            &:last-child {
                border-left: 0.5px solid rgba(255,255,255,0.3);
            }

            &:hover {
                transition: 2s;
            }

        }

        .company_list--item_bg {
            // position: absolute;
            top: 0;
            left: 0;
            width: 300%;
            height: 100%;
            z-index: -2;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
            overflow: hidden;
            opacity: 1;
            background-size: 100%;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            background-color: rgba(0,0,0, 0.7);

            &:first-child {
                background-position: right;
            }

            &:nth-child(1){
                background-position: center;
            }

            &:last-child {
                background-position: right;
            }
        }
        

        .company_list--info {
            width: 100%;
            text-align: center;
            color: #fff;
            min-height: 62px;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            position: absolute;
            top: calc(50% - 16px);
            left: 0;
            padding: 0 30px;
        }
    }

    .company_list--item:after {
        content: '';
        position: absolute;
        top: 0;
        left: calc((100% / 3) * 2);
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0);
        z-index: 3;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .company_list--item:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(100% / 3);
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0);
        z-index: 3;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}

/*=============================
*           Career
==============================*/

.career_title {
    font-weight: 700;
    letter-spacing: 0;
}

.career_position {
    letter-spacing: 1px;
}


/*=================================
*   Navigation Effects
=================================*/

.navbar {
    background-color: transparent;
    transition: 0.5s;
}
/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }
  
  /* colours */
  .color-white {
    background-color: #ffffff;
    border-bottom: 0.5px solid rgba(0,0,0,0.2);
     a {
         color: black !important;
     }
  }
  .color-black {
    background-color: #111111 !important;
    border-bottom: 0.5px solid rgba(0,0,0,0.8);
    a {
        color: white !important;
    }
  }


  .color-transparent {
      background-color: transparent;
  }


  