
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;400;700&display=swap');
body {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 2px
  }
  
p {
    line-height: 1.5rem;
}

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  

  button:focus {outline:0 !important;}


  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


  .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


section {
    position: relative;
}

.title_bg {

    height: 100vh;
    position: relative;

    .title_bg-split {
        display: none;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
        z-index: 1;
        opacity: .05;
        width: 100%;
        color: #000000;
        text-align: center;
        .line {
            display: inline-block;
            font-size: 90px;
            padding: 0 10px;
            font-weight: 700;
            
        }
    }
}

/*========================
=       Center Items
========================*/
.wrapper-center {
    // height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

}   


@media screen and (min-width: 1000px) {
    .wrapper-center {
        width: 900px;
    }
}



/*=============================
*           Company Lists
==============================*/

.company_bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    min-height: 200px;
    background-position: center;
    transition: 1s;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0, 0.7);
}

.carousel-item {
    img {
        width: 100%;
    }
}

.company {
    margin: 0;
}

.company_lists {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .company_list--item{
        display: block;
        width: 100%;
        height: calc(100% / 3);
        position: relative;
    }

    .card_mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(0,0,0,0.7);
        z-index: 2;
    }

    .company_list--info {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 3;
        transform: translate(0, -50%);
        color: white;

        h2 {
            font-weight: 700;
        }

        h5 {
            font-weight: 100;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}


@media screen and (min-width: 1200px) {
    h2 {
        font-weight: 700;
    }
    .title_bg {
        height: 100vh;
    }

    .title_bg-split {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .line {
            font-size: 300px !important;
            margin: 0 20PX;
        }
    }
    .wrapper {
        padding: 150px;
    }   

    .company__inner {
        position: relative;
        height: 100vh;
    }
    .company_bg  {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;

        
    }
    .company_img_active {
        opacity: 1;
        transition: 0.5s;
    }


    .company_lists {
        font-size: 0;
        letter-spacing: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        padding-left: 0;
        padding-right: 0;

        // display: flex;
        .company_list--item {
            display: inline-block;
            width: calc(100% / 3);
            height: 100%;
            position: relative;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-position: center;
            background-size: cover;
            
            &:first-child {
                border-right: 0.5px solid rgba(255,255,255,0.3);
            }
            &:last-child {
                border-left: 0.5px solid rgba(255,255,255,0.3);
            }

            &:hover {
                transition: 2s;
            }

        }

        .company_list--item_bg {
            // position: absolute;
            top: 0;
            left: 0;
            width: 300%;
            height: 100%;
            z-index: -2;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
            overflow: hidden;
            opacity: 1;
            background-size: 100%;
            background-repeat: no-repeat;

            &:first-child {
                background-position: right;
            }

            &:nth-child(1){
                background-position: center;
            }

            &:last-child {
                background-position: right;
            }
        }
        

        .company_list--info {
            width: 100%;
            text-align: center;
            color: #fff;
            min-height: 62px;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            position: absolute;
            top: calc(50% - 16px);
            left: 0;
            padding: 0 30px;
        }
    }

    .company_list--item:after {
        content: '';
        position: absolute;
        top: 0;
        left: calc((100% / 3) * 2);
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0);
        z-index: 3;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .company_list--item:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(100% / 3);
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,0);
        z-index: 3;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
}






/*=============================
*           Footer
==============================*/
footer {
    background-color: #111111;
    color: white;
    display: block;

    .footer_content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid #303030;
        margin-bottom: 3rem;

        h5 {
            font-size: 12px;
            color: #303030;
        }

        .footer-info {
            font-size: 12px;
            color: white;
        }
    }

    .header-split {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0;
    }

    .footer__maps {
        background-color: #111111;
        .cssmap-container {
            position: absolute;
            right: 0;
            opacity: 0.1;
            pointer-events: none;
        }
        overflow: hidden;
        #demo-markers {
            display: none;
        }
    }

    .footer_copy {
     
        background: linear-gradient(to top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0.9) 70%,  rgba(17,17,17,0) 100%);
        font-size: 12px;
        letter-spacing: 2px;
        h4 {
            font-size: 12px;
            text-transform: uppercase;
        }

        h5 {
            font-size: 12px;
            color: #303030;
        }

        .footer-info {
            font-size: 12px;
            color: white;
        }
    }

    .footer-title, .footer-info {
        cursor: pointer;
    }
    
}

@media screen and (min-width: 548px){
    .cssmap-650 .continents {
        height: 100px;
        overflow: hidden;
    }
}   

@media screen and (max-width: 767px) {

    .footer {
        position: relative;
        .footer__maps {
            position: relative;
            height: 200px;
            overflow: hidden !important; 
            .cssmap-container {
                position: absolute;
                right: 0;
                opacity: 0.1;
                pointer-events: none;
            }
            overflow: hidden;
            #demo-markers {
                // display: none;
            }
        }

        
    }
    
    .cssmap-650 .continents {
        height: 174px;
    }
}

@media screen and (min-width: 768px) {
    footer {
        padding: 3rem;
        position: relative;

        .footer__maps {
            display: block;
            .cssmap-container {
                position: relative;
                pointer-events: inherit;
                opacity: 1;
            }
            #demo-markers {
                display: block;
            }
        }

        .footer_copy {
            width: 100%;
            background: linear-gradient(to top, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(17,17,17,0.9) 70%,  rgba(17,17,17,0) 100%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 5;
        }

        .footer_content {
            border-bottom: transparent;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        

        
    }
    
}



.btn-empire {
    stroke-dasharray: 0 620;
    stroke-dashoffset: 0;
    stroke-width: 1px;
    fill: transparent;
    stroke: #000;
    -webkit-transition: stroke-dasharray 1.5s linear;
    -o-transition: stroke-dasharray 1.5s linear;
    transition: stroke-dasharray 1.5s linear;
}




/*=============================
*           Career
==============================*/

.career_title {
    font-weight: 700;
    letter-spacing: 0;
}

.career_position {
    letter-spacing: 1px;
}

// .container {
//     min-width: 100%;
// }

/*=================================
=       Standard Screen Override
==================================*/

@media screen and (min-width: 768px) {
/*=============================
*           Scroll
==============================*/
.scroll {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 1px;
    height: 88px;
    z-index: 1000;
    overflow: hidden;
    background-color: #e0e0e0;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #e0e0e0;
        top: -100%;
        left: 0;
        z-index: 1001;
    }
}

    .title_bg {
        .title_bg-split {
            display: block;

            .line {
                font-size: 200px;
            }
        }
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    }
}


/*=============================
*  Modal Full Screen Override
==============================*/
.modal-dialog {
    .modal-body, .modal-header {
        background: #111111;
        border: none;
    }

    
}

.btn-close {
    color: white !important;
}

.modal-form {
    // background-color: orange;
    color: white;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .form-control {
        border-radius: none !important;
        background: transparent !important;
        border: 0;
        border-bottom: 1px solid #ffffff;
    }

}



.btn {
    outline: none;
    border: 1px solid #000000;
    border-radius: 0;
    
}

.btn-empire {

    padding-left: 3rem;
    padding-right: 3rem;
    background-color: transparent;
    color: #000000;
    letter-spacing: 2px;
    outline: 0;
    transition: background-color 1s;
    &:hover {
        color: white;
        background-color: #000000;
    }

    &.theme-white {
        color: white;
        border: 1px solid white;
        &:hover {
            background-color: white;
            color: #111111;
        }
    }
}